</main>

<footer class="app-footer">
    <div class="container">
        <p>&copy; <%= new Date().getFullYear() %> ChatApp. All rights reserved.</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
</body>
</html>